/* Grids */

.grid__item,
.grid__item p {
  margin-bottom: var(--spacing-2);
}

.grid__date {
  font-weight: 500;
}

.grid__title {
  margin-bottom: 0;
}

.grid__location {
  font-weight: 300;
  color: var(--date-color);
}

.grid__mission {
  margin-bottom: var(--spacing-1);
}

.cursus {
  background-color: var(--side-bar-bg-color);
  padding: var(--spacing-5);
  border-radius: 3%;
}

/* Portfolio */
.portfolio {
  display: flex;
  flex-wrap: wrap;
  margin-top: var(--spacing-4);
}

.portfolio__item {
  text-align: center;
  flex: 1;
}

.portfolio-image {
  width: 350px;
  height: 250px;
  border-radius: 10%;
  opacity: 0.8;
}

a:hover .portfolio-image {
  opacity: 1;
}