.grid__item,
.grid__item p {
  margin-bottom: var(--spacing-2);
  margin-right: var(--spacing-2);
  border: 2px;
}

.grid__date {
  font-weight: 500;
  color: var(--date-color);
}

.grid__title {
  margin-bottom: 0;
}

.grid__location {
  font-weight: 300;
  color: var(--text-color);
}

.grid__mission {
  margin-bottom: var(--spacing-1);
}

.cursus {
  background-color: var(--side-bar-bg-color);
  padding: var(--spacing-2);
  border-radius: 3%;
}

.portfolio__item {
  text-align: center;
}

.portfolio-image {
  width: 350px;
  height: 250px;
  border-radius: 20%;
}

@media (max-width: 767px) {
  .cursus {
    margin: 0;
    border-radius: 0;
  }
  
  .main {
    text-align: center;
    padding: 0;
  }

  h2 {
    text-align: center;
    display: grid;
  }

  ul li {
    display: none;
  }

  .sidebar {
    text-align: center;
  }

  .actions {
    display: none;
  }
}
