.portfolio-links {
  display: flex;
  text-align: center;
  justify-content: flex-start;
}

.portfolio-item {
  margin-right: var(--spacing-5);
}

.portfolio-image {
  width: 350px;
  height: 250px;
  border-radius: 20%;
}