@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --body-bg-color: #FFFFFF;
  --side-bar-bg-color: #f4f4f4;
  --text-color: #333333;
  --title-color: #111111;
  --date-color: #84b;

  /* fonts */
  --body-font: "Poppins", "Sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /* helpers */
  --spacing-1: .4rem;
  --spacing-2: .8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
}

body {
  font-family: var(--body-font);
  font-weight: 200;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

h1, h2, h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3-font-size);
}

a {
  text-decoration: none;
  color: inherit;
}

p {
  margin-bottom: var(--spacing-2);
}

/* */

.mb3 {
  margin-bottom: var(--spacing-3);
}

.mb5 {
  margin-bottom: var(--spacing-5);
}

/* grids */

@media screen and (min-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
  }
}

.grid__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  margin-top: var(--spacing-4);
}

.grid__mission {
  margin-top: var(--spacing-2);
}

/* layouts */

.sidebar {
  padding: 1.5rem;
  background-color: var(--side-bar-bg-color);
}

.main {
  padding: 1.5rem;
}

/* Generate PDF */
#cv-print {
  width: 100% !important;
}

.cv-print ul {
  margin: 0;
  padding: 0;
}

.cv-print ul li {
  list-style-type: none;
}

.cv-print ul li:before {
  content: ".";
  display: inline-block;
  font-size: 110%;
  padding-right: 10px;
}

.cv-print .grid__container {
  font-size: 12px !important;
  max-width: 210mm;
}

.cv-print .grid__title {
  font-size: 14px !important;
}

.cv-print .grid__row {
  margin-top: var(--spacing-2) !important;
}

.cv-print .grid__mission {
  margin-top: var(--spacing-1) !important;
}

.cv-print h2 {
  font-size: 16px !important;
}

.cv-print h1 {
  font-size: 17px !important;
}

.cv-print .sidebar {
  height: 297mm;
}

.cv-print .user__infos svg {
  display: none !important;
}

.cv-print .grid__date {
  margin-top: 5px;
  margin-right: var(--spacing-1);
}

.cv-print .actions {
  display: none;
}