@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500');

*, ::before, ::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* colors */
  --body-bg-color: #FFFFFF;
  --side-bar-bg-color: #f4f4f4;
  --text-color: #333333;
  --title-color: #111111;
  --date-color: rgb(108, 53, 150);

  /* fonts */
  --body-font: "Poppins", "Sans-serif";
  --h1-font-size: 1.7rem;
  --h2-font-size: 1.3rem;
  --h3-font-size: 1.1rem;
  --h4-font-size: 1rem;

  /* helpers */
  --spacing-1: .4rem;
  --spacing-2: .8rem;
  --spacing-3: 1.2rem;
  --spacing-4: 1.5rem;
  --spacing-5: 2rem;
  --spacing-10: 10rem;
}

body {
  font-family: var(--body-font);
  font-weight: 200;
  color: var(--text-color);
  background-color: var(--body-bg-color);
}

h1, h2, h3 {
  margin-bottom: var(--spacing-1);
  font-weight: 400;
  color: var(--title-color);
}

h1 {
  font-size: var(--h1-font-size);
  text-transform: uppercase;
}

h2 {
  display: flex;
  align-items: center;
  margin-bottom: var(--spacing-4);
  font-size: var(--h2-font-size);
  letter-spacing: 4px;
  text-transform: uppercase;
}

h3 {
  font-size: var(--h3-font-size);
}

a {
  text-decoration: none;
  color: inherit;
}

.user__infos a:hover {
  color: var(--date-color);
  opacity: 0.4;
}

p {
  margin-bottom: var(--spacing-2);
}

/* */

.mb3 {
  margin-bottom: var(--spacing-3);
}

.mb5 {
  margin-bottom: var(--spacing-5);
  padding: var(--spacing-5);
}

/* grids */

@media screen and (min-width: 768px) {
  .grid__container {
    display: grid;
    grid-template-columns: 1fr 5fr;
  }
}

.grid__row {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0;
  margin-top: var(--spacing-4);
}

@media (max-width: 767px) {
  .grid__row {
    grid-template-columns: 1fr;
  }

  ul li {
    display: none;
  }

  .portfolio {
    display: column;
  }

  .portfolio-image {
    width: 50vw !important;
    height: 30vh !important;
  }

  .actions {
    display: none;
  }

  .main {
    padding: 0 !important;
  }
}

.grid__mission {
  margin-top: var(--spacing-2);
}

.grid__column {
  display: column;
}

/* layouts */

.sidebar {
  padding: var(--spacing-5);
  background-color: var(--side-bar-bg-color);
}

.main {
  padding: var(--spacing-4);
}

.footer {
  display: flex;
  justify-content: space-around;
  padding: var(--spacing-2);
  background-color: var(--side-bar-bg-color);
}

.footer-text {
  flex: 1;
}

.footer-copyright {
  flex: flex-end;
}

/* Generate PDF */
.actions button {
  border: none;
  cursor: pointer;
}